body {
    background-color: #9b59b6;
}

.container {
    width: 80%;
    max-width: 900px;
}

.comment-area {
    margin-top: 5%;
}

#comment-box,
#preview-box {
    height: 150px;
}

#preview-comment {
    margin-top: 15px;
    float: right;
}

#clear-comment {
    margin-top: 15px;
    float: left;
}

#comment-actions {
    background: silver;
    height: 60px;
}

#preview-box {
    background: white;
    height: 400px;
    padding: 5px;
}

/*Emoji Styles*/
ul {
    list-style: none;
}

#action-list {
    margin-top: 10px;
}

li {
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}

#icons {
    font-size: 18px;
}

@media (max-width: 500px) {
    #comment-actions {
        height: 90px;
    }

    #icons {
        font-size: 14px;
    }

    .container {
        width: 90%;
    }

}