body {
    background-color: #9b59b6;
}

.container {
    width: 80%;
}

.comment-area {
    margin-top: 5%;
}

#comment-box,
#preview-box {
    height: 150px;
}

#preview-comment {
    margin-top: 15px;
    float: right;
}

#comment-actions {
    background: silver;
    height: 50px;
}

#preview-box {
    background: white;
}

/*Emoji Styles*/
ul {
    list-style: none;
}

#action-list {
    margin-top: 10px;
}

li {
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}

#icons {
    font-size: 20px;
}